Version 3/Extentions for smart routing and avoidance/schema/LevelC_3_Situation.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:sit="http://levelC/schema/3/situation" version="3.0" targetNamespace="http://levelC/schema/3/situation" xmlns:rer="http://levelC/schema/3/reroutingManagement2" xmlns:rcm="http://levelC/schema/3/routeCapacityManagement" xmlns:com="http://levelC/schema/3/common" xmlns:loc="http://levelC/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://levelC/schema/3/locationReferencing" schemaLocation="LevelC_3_LocationReferencing.xsd" />
  <xs:import namespace="http://levelC/schema/3/common" schemaLocation="LevelC_3_Common.xsd" />
  <xs:import namespace="http://levelC/schema/3/routeCapacityManagement" schemaLocation="LevelC_3_RouteCapacityManagement.xsd" />
  <xs:import namespace="http://levelC/schema/3/reroutingManagement2" schemaLocation="LevelC_3_ReroutingManagement2.xsd" />
  <xs:complexType name="_AbnormalTrafficTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:AbnormalTrafficTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_CauseTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:CauseTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ComplianceOptionEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ComplianceOptionEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_GeneralNetworkManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:GeneralNetworkManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="sit:_GeneralNetworkManagementTypeEnumExtensionType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="_GeneralNetworkManagementTypeEnumExtensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="restrictedAreasAccessInOperation" />
      <xs:enumeration value="tollingInOperation" />
      <xs:enumeration value="tollingNotInOperation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="_NetworkManagementExtensionType">
    <xs:sequence>
      <xs:element name="networkManagementExtendedSocrates" type="rcm:NetworkManagementExtendedSocrates" minOccurs="0" />
      <xs:element name="networkManagementExtended" type="rer:NetworkManagementExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_OperatorActionStatusEnum">
    <xs:simpleContent>
      <xs:extension base="sit:OperatorActionStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ProbabilityOfOccurrenceEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ProbabilityOfOccurrenceEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ReroutingManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ReroutingManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RoadOrCarriagewayOrLaneManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:RoadOrCarriagewayOrLaneManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="sit:_RoadOrCarriagewayOrLaneManagementTypeEnumExtensionType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="_RoadOrCarriagewayOrLaneManagementTypeEnumExtensionType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:complexType name="_ServiceDisruptionExtensionType">
    <xs:sequence>
      <xs:element name="serviceDisruptionExtended" type="rer:ServiceDisruptionExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_ServiceDisruptionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ServiceDisruptionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SituationRecordVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="sit:SituationRecord" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AbnormalTrafficTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="stationaryTraffic" />
      <xs:enumeration value="queuingTraffic" />
      <xs:enumeration value="slowTraffic" />
      <xs:enumeration value="heavyTraffic" />
      <xs:enumeration value="unspecifiedAbnormalTraffic" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cause">
    <xs:sequence>
      <xs:element name="causeType" type="sit:_CauseTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="managedCause" type="sit:SituationRecordReference" minOccurs="0" />
      <xs:element name="_causeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CauseTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="abnormalTraffic" />
      <xs:enumeration value="accident" />
      <xs:enumeration value="animalPresence" />
      <xs:enumeration value="authorityOperation" />
      <xs:enumeration value="constructionWork" />
      <xs:enumeration value="disturbance" />
      <xs:enumeration value="drivingConditions" />
      <xs:enumeration value="environmentalObstruction" />
      <xs:enumeration value="equipmentOrSystemFault" />
      <xs:enumeration value="infrastructureDamageObstruction" />
      <xs:enumeration value="instructionToRoadUsers" />
      <xs:enumeration value="networkManagement" />
      <xs:enumeration value="nonWeatherRelatedRoadConditions" />
      <xs:enumeration value="obstruction" />
      <xs:enumeration value="poorEnvironment" />
      <xs:enumeration value="publicEvent" />
      <xs:enumeration value="rerouting" />
      <xs:enumeration value="roadMaintenance" />
      <xs:enumeration value="roadOperatorServiceDisruption" />
      <xs:enumeration value="roadOrCarriagewayOrLaneManagement" />
      <xs:enumeration value="roadsideAssistance" />
      <xs:enumeration value="roadsideServiceDisruption" />
      <xs:enumeration value="speedManagement" />
      <xs:enumeration value="transitServiceDisruption" />
      <xs:enumeration value="vehicleObstruction" />
      <xs:enumeration value="weatherRelatedRoadConditions" />
      <xs:enumeration value="winterEquipmentManagement" />
      <xs:enumeration value="earlierEvent" />
      <xs:enumeration value="earlierIncident" />
      <xs:enumeration value="holidayTraffic" />
      <xs:enumeration value="problemsAtBorderPost" />
      <xs:enumeration value="problemsAtCustomPost" />
      <xs:enumeration value="problemsOnLocalRoads" />
      <xs:enumeration value="roadsideEvent" />
      <xs:enumeration value="rubberNecking" />
      <xs:enumeration value="technicalProblems" />
      <xs:enumeration value="vandalism" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComplianceOptionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="advisory" />
      <xs:enumeration value="mandatory" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeneralNetworkManagement">
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="generalNetworkManagementType" type="sit:_GeneralNetworkManagementTypeEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="_generalNetworkManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GeneralNetworkManagementTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bridgeSwingInOperation" />
      <xs:enumeration value="convoyService" />
      <xs:enumeration value="obstacleSignalling" />
      <xs:enumeration value="rampMeteringInOperation" />
      <xs:enumeration value="temporaryTrafficLights" />
      <xs:enumeration value="tollGatesOpen" />
      <xs:enumeration value="trafficBeingManuallyDirected" />
      <xs:enumeration value="trafficHeld" />
      <xs:enumeration value="other" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NetworkManagement" abstract="true">
    <xs:complexContent>
      <xs:extension base="sit:OperatorAction">
        <xs:sequence>
          <xs:element name="complianceOption" type="sit:_ComplianceOptionEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="_networkManagementExtension" type="sit:_NetworkManagementExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatorAction" abstract="true">
    <xs:complexContent>
      <xs:extension base="sit:SituationRecord">
        <xs:sequence>
          <xs:element name="actionPlanIdentifier" type="com:String" minOccurs="0" maxOccurs="1" />
          <xs:element name="operatorActionStatus" type="sit:_OperatorActionStatusEnum" minOccurs="0" maxOccurs="1" />
          <xs:element name="_operatorActionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OperatorActionStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="beingImplemented" />
      <xs:enumeration value="implemented" />
      <xs:enumeration value="beingTerminated" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProbabilityOfOccurrenceEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="certain" />
      <xs:enumeration value="probable" />
      <xs:enumeration value="riskOf" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReroutingManagement">
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="reroutingManagementType" type="sit:_ReroutingManagementTypeEnum" minOccurs="1" maxOccurs="unbounded" />
          <xs:element name="destination" type="loc:Destination" minOccurs="0" />
          <xs:element name="_reroutingManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ReroutingManagementTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="doNotFollowDiversionSigns" />
      <xs:enumeration value="doNotUseEntry" />
      <xs:enumeration value="doNotUseExit" />
      <xs:enumeration value="doNotUseIntersectionOrJunction" />
      <xs:enumeration value="followDiversionSigns" />
      <xs:enumeration value="followLocalDiversion" />
      <xs:enumeration value="followSpecialMarkers" />
      <xs:enumeration value="useEntry" />
      <xs:enumeration value="useExit" />
      <xs:enumeration value="useIntersectionOrJunction" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RoadOrCarriagewayOrLaneManagement">
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="roadOrCarriagewayOrLaneManagementType" type="sit:_RoadOrCarriagewayOrLaneManagementTypeEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="_roadOrCarriagewayOrLaneManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RoadOrCarriagewayOrLaneManagementTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="doNotUseSpecifiedLanesOrCarriageways" />
      <xs:enumeration value="roadClosed" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceDisruption">
    <xs:complexContent>
      <xs:extension base="sit:ServiceInformation">
        <xs:sequence>
          <xs:element name="serviceDisruptionType" type="sit:_ServiceDisruptionTypeEnum" minOccurs="1" maxOccurs="unbounded" />
          <xs:element name="_serviceDisruptionExtension" type="sit:_ServiceDisruptionExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ServiceDisruptionTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="barClosed" />
      <xs:enumeration value="dieselShortage" />
      <xs:enumeration value="fuelShortage" />
      <xs:enumeration value="lpgShortage" />
      <xs:enumeration value="methaneShortage" />
      <xs:enumeration value="noDieselForHeavyVehicles" />
      <xs:enumeration value="noDieselForLightVehicles" />
      <xs:enumeration value="noParkingAvailability" />
      <xs:enumeration value="noPublicTelephones" />
      <xs:enumeration value="noToiletFacilities" />
      <xs:enumeration value="noVehicleRepairFacilities" />
      <xs:enumeration value="petrolShortage" />
      <xs:enumeration value="restAreaBusy" />
      <xs:enumeration value="restAreaClosed" />
      <xs:enumeration value="restAreaOvercrowdedDriveToAnotherRestArea" />
      <xs:enumeration value="serviceAreaBusy" />
      <xs:enumeration value="serviceAreaClosed" />
      <xs:enumeration value="serviceAreaFuelStationClosed" />
      <xs:enumeration value="serviceAreaOvercrowdedDriveToAnotherServiceArea" />
      <xs:enumeration value="serviceAreaRestaurantClosed" />
      <xs:enumeration value="someCommercialServicesClosed" />
      <xs:enumeration value="waterShortage" />
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceInformation" abstract="true">
    <xs:complexContent>
      <xs:extension base="sit:SituationRecord">
        <xs:sequence>
          <xs:element name="_serviceInformationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Situation">
    <xs:sequence>
      <xs:element name="situationVersionTime" type="com:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="headerInformation" type="com:HeaderInformation" />
      <xs:element name="situationRecord" type="sit:SituationRecord" maxOccurs="unbounded" />
      <xs:element name="_situationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="SituationPublication">
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="situation" type="sit:Situation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_situationPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SituationRecord" abstract="true">
    <xs:sequence>
      <xs:element name="situationRecordCreationTime" type="com:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="situationRecordVersionTime" type="com:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="probabilityOfOccurrence" type="sit:_ProbabilityOfOccurrenceEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="validity" type="com:Validity" />
      <xs:element name="cause" type="sit:Cause" minOccurs="0" />
      <xs:element name="locationReference" type="loc:LocationReference" />
      <xs:element name="_situationRecordExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="SituationRecordReference">
    <xs:complexContent>
      <xs:extension base="com:GlobalReference">
        <xs:sequence>
          <xs:element name="objectReference" type="sit:_SituationRecordVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="_situationRecordReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>