Version 3/Slovenian extension and profile on Road Camera's/schema/DATEXII_3_TrafficCamerasExtension.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:trafficCamerasExtension="http://datex2.eu/schema/3/trafficCamerasExtension" version="3.0" targetNamespace="http://datex2.eu/schema/3/trafficCamerasExtension" xmlns:com="http://datex2.eu/schema/3/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_TrafficCameraCapabilityEnum">
    <xs:simpleContent>
      <xs:extension base="trafficCamerasExtension:TrafficCameraCapabilityEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TrafficCameraTypeEnum">
    <xs:simpleContent>
      <xs:extension base="trafficCamerasExtension:TrafficCameraTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TrafficCameraVisibilityEnum">
    <xs:simpleContent>
      <xs:extension base="trafficCamerasExtension:TrafficCameraVisibilityEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TrafficCameraCapabilityEnum">
    <xs:annotation>
      <xs:documentation>Traffic camera capabilities enum</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="canPan">
        <xs:annotation>
          <xs:documentation>Camera can pan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="canTilt">
        <xs:annotation>
          <xs:documentation>Camera can tilt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="canZoom">
        <xs:annotation>
          <xs:documentation>Camera can zoom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TrafficCameraRecord">
    <xs:annotation>
      <xs:documentation>Realis TrafficCameraRecord class</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cameraId" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id of traffic camera</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="updatedTS" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Last modified timestamp</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stillImageUrl" type="com:Url" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Still image URL</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stillImageContentType" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Still image MIME Content-Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stillImageHeight" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>still image height</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stillImageWidth" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Still image width</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="stillImageRefreshIntervalMS" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Still image refresh interval in milliseconds</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="videoUrl" type="com:Url" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Video URL</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="videoContentType" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Video MIME Content-Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="videoHeight" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Video height</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="videoWidth" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Video width</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="videoFrameRate" type="com:Float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Video frame rate in FPS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="viewBearing" type="com:AngleInDegrees" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>View bearing in degrees</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="viewAngle" type="com:AngleInDegrees" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>View angle in degrees</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="zoom" type="com:Float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Zoom level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="heightMeters" type="com:Float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera height in meters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cameraTitle" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera title</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cameraDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera description</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="groupId" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera group Id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="groupName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera group name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="regionName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera region</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cameraType" type="trafficCamerasExtension:_TrafficCameraTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="visibility" type="trafficCamerasExtension:_TrafficCameraVisibilityEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera visibility</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cameraCapabilities" type="trafficCamerasExtension:_TrafficCameraCapabilityEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Camera capabilities</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priority" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Camera priority</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="previousCameraId" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Previous camera id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nextCameraId" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Next camera id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrafficCameraTypeEnum">
    <xs:annotation>
      <xs:documentation>Traffic camera type enum</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="analog">
        <xs:annotation>
          <xs:documentation>Camera is analog</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="digital">
        <xs:annotation>
          <xs:documentation>Camera is digital</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficCameraVisibilityEnum">
    <xs:annotation>
      <xs:documentation>Traffic camera visibility</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="noRestrictions">
        <xs:annotation>
          <xs:documentation>No restrictions for camera visibility</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="internalOnly">
        <xs:annotation>
          <xs:documentation>Camera is only for internal use</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hidden">
        <xs:annotation>
          <xs:documentation>Camera hidden - not shown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>